.repository {
  background: #ffffff;
  border-radius: 0.2em;
  border: 0.1em solid #000000;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  min-width: 35em;
  max-width: 50em;
  margin: 0 auto;
}
